.header-container {
    height: 20px;
    background-color: rgb(67, 66, 66);
    color: white;
    gap: 100px;
    padding: 40px;
}

.header {
    display: flex;
    gap: 100px;
}

.header__logo {
    font: size 20px;
}

.header__menu {
    display: flex;
}

ul {
    gap: 40px;
}

li {
    list-style: none;
}

.main-container {
    height: 500px;
    background-color: green;
}

.game-area {
    display: block; /*block element so we need vertical spacing*/
    justify-content: center;
    align-items: center;
    padding: 40px;  
    height: 200px;
    width: 250px;
    background-color: white;
    gap: 60px;
}

.sheet-music {
    background-color: black;
    height: 50px;
    width: 50px;
}

.answer-keys {
    background-color: black;
    height: 50px;
    width: 50px;
}

