* {
    margin: 0;
    padding: 0;
    /*border: solid 2px red;*/
}

/*FRETBOARD*/

.fretboard-neck {
    height: 300px;
    background-color: rgb(214, 81, 24);
}













/*END OF FRETBOARD*/
.header-container {
    display: flex;
    height: 20px;
    background: linear-gradient(#3f3e3e, #6b6b6b);
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.home-logo {

}

.right-wrong-fraction-percent {
    display: flex;
    width: 700px;
    justify-content: center;
    gap: 25px;
}

.settings-logo {

}

.section-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-holder {
    /*background-color: aqua;*/
    padding: 40px;
    display: flex;
    justify-content: center;

}

.game-holder-box {
    border: solid 2px rgb(188, 188, 188);
    padding: 10px;
}

.staff-lines-pic {
    width: 550px;
    height: 300px;
}

.answer-key-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.answer-buttons-container {

}

button {
    height: 80px;
    width: 80px;
    border-radius: 10;
    background: linear-gradient(silver, white)
}

.purchase-our-apps-continer {
    display: flex;
    justify-content: center;
}
