/** {
    border: solid 2px green;
}*/

.main-container {
    display: flex;
    margin-top: 100px;
}

.grand-staff {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.staff-line {
    font-weight: bold;
    height: 2px;
    width:400px;
    background-color: black;
}

.ledger-line {
    width: 40px;
    height: 2px;
    width: 40px;
    background-color: black;
}


.ledger-line {
    width: 40px;
}

.trebleClefObject {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.noteMarker {
    margin-left: 200px;
    z-index: 2;
}